.field {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: $color-field-filler;
    border: 3px solid $color-field-boarder;
    border-radius: 10px;
    margin: 10px;
    padding: 4px;
}

.cell-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 1.6rem;
    min-width: 30px;
    min-height: 30px;
    background-color: $color-cell-filler;
    border: 1px solid $color-cell-boarder;
    color: $color-cell-filler;
    border-radius: 5px;
    margin: 0;
    padding: 5px;
    cursor: default;
}

.cell:hover {
    background-color: $color-cell-filler-light;
    border: 1px solid $color-cell-boarder-light;
}

.empty {
    background-color: $color-cell-empty;
}

.cell-1 {
    background-color: $color-cell-boarder-light !important;
    color: $color-cell-1;
}

.cell-2 {
    background-color: $color-cell-boarder-light !important;
    color: $color-cell-2;
}

.cell-3 {
    background-color: $color-cell-boarder-light !important;
    color: $color-cell-3;
}

.cell-4 {
    background-color: $color-cell-boarder-light !important;
    color: $color-cell-4;
}

.cell-5 {
    background-color: $color-cell-boarder-light !important;
    color: $color-cell-5;
}

.cell-6 {
    background-color: $color-cell-boarder-light !important;
    color: $color-cell-6;
}

.cell-7 {
    background-color: $color-cell-boarder-light !important;
    color: $color-cell-7;
}

.cell-8 {
    background-color: $color-cell-boarder-light !important;
    color: $color-cell-8;
}

.mine {
    background-color: $color-cell-mine !important;
    background-image: url("../../assets/cell/mine-icon-64x64.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    content-visibility: hidden;
}

.flag {
    background-image: url("../../assets/cell/flag-icon-64x64.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    content-visibility: hidden;
}

.question {
    background-image: url("../../assets/cell/question-icon-64x64.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    content-visibility: hidden;
}