.field {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: $color-field-filler;
    border: 3px solid $color-field-boarder;
    border-radius: 10px;
    margin: 10px;
    padding: 4px;
}

.cell-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 1.6rem;
    min-width: 30px;
    min-height: 30px;
    background-color: $color-cell-filler;
    border: 1px solid $color-cell-boarder;
    border-radius: 5px;
    margin: 0;
    padding: 5px;
}

.cell:hover {
    background-color: $color-cell-filler-light;
    border: 1px solid $color-cell-boarder-light;
}
