.info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: $color-field-filler;
    border: 3px solid $color-field-boarder;
    border-radius: 10px;
    width: 284px;
    margin: 5px 0px 5px 0px;
    padding: 2px;
    cursor: default;
    @include media-tablet {
        width: 194px;
    }
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 95%;
}

.mine-block,
.flag-block,
.step-block,
.time-block {
    display: flex;
    flex-direction: column;
    margin: 1px;
}

.mine-label,
.flag-label,
.step-label,
.time-label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25px;
    min-width: 60px;
    background-color: $color-field-filler;
    border: 2px solid $color-field-boarder;
    border-radius: 5px;
    margin: 1px 0 1px 0;
    padding: 1px;
    @include media-tablet {
        min-width: 38px;
        min-height: 20px;
    }
}

.mine-value,
.flag-value,
.step-value,
.time-value {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20px;
    background-color: $color-field-filler;
    border: 2px solid $color-field-boarder;
    border-radius: 5px;
    margin: 1px 0 1px 0;
    padding: 1px;
    @include media-tablet {
        min-height: 16px;
    }
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    min-width: 40px;
    min-height: 34px;
    background-color: $color-field-filler;
    border: 2px solid $color-field-boarder;
    border-radius: 5px;
    margin: 2px 0 2px 0;
    width: 95%;
}
