.info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: $color-field-filler;
    border: 3px solid $color-field-boarder;
    border-radius: 10px;
    margin: 10px;
    padding: 2px;
    cursor: default;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.mine-block,
.flag-block,
.step-block,
.time-block {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.mine-label,
.mine-value,
.flag-label,
.flag-value,
.step-label,
.step-value,
.time-label,
.time-value {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 20px;
    background-color: $color-field-filler;
    border: 2px solid $color-field-boarder;
    border-radius: 5px;
    margin: 1px;
    padding: 5px;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
    background-color: $color-field-filler;
    border: 2px solid $color-field-boarder;
    border-radius: 5px;
    margin: 5px;
    width: 95%;
}
