.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: $color-field-filler;
    border: 3px solid $color-field-boarder;
    border-radius: 10px;
    margin: 10px 0px 0px 0px;
    padding: 2px;
    width: 194px;
    cursor: default;
}

.mode-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px;
    width: 95%;
}

.mode-easy, 
.mode-medium,
.mode-hard {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 54px;
    min-height: 40px;
    background-color: $color-field-filler;
    border: 2px solid $color-field-boarder;
    border-radius: 5px;
    margin: 1px;
}

.mine-set-block {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 2px;
}

.mine-set-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-field-filler;
    border: 2px solid $color-field-boarder;
    border-radius: 5px;
    height: 20px;
}

.mine-set-input {
    appearance: none;
    align-items: center;
    background-color: $color-field-boarder;
    border-radius: 5px;
    height: 6px;
    margin: 8px 4px 8px 4px;
    &:focus {
        outline: none;
    }
}

.mine-set-input::-webkit-slider-thumb {
    appearance: none;
    width: 5px;
    height: 14px;
    background: $color-slider-filler;
    border-radius: 2px;
}

.media-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 0 2px 0;
    width: 95%;
}

.sound-block,
.color-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-field-filler;
    border: 2px solid $color-field-boarder;
    border-radius: 5px;
    height: 20px;
    width: 47%;
}


.new-game-block {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: $color-field-filler;
    border: 2px solid $color-field-boarder;
    border-radius: 5px;
    height: 24px;
    width: 95%;
    margin: 2px 0 2px 0;
}

.records-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: $color-field-filler;
    border: 2px solid $color-field-boarder;
    border-radius: 5px;
    height: 24px;
    width: 95%;
    margin: 2px 0 2px 0;
    overflow-y: hidden;
    transition: height 500ms ease-in-out;
}

.records-mode-active {
    border-radius: 5px;
    height: 250px;
}

.records-label {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    min-height: 16px;
    width: 90%;
    margin: 2px;
}

.records-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.record {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-field-filler;
    border-bottom: 2px solid $color-field-boarder;
    min-height: 16px;
    min-width: 90%;
    margin: 2px;
}

.mode-active {
    background-color: $color-active;
}
