.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: $color-field-filler;
    border: 3px solid $color-field-boarder;
    border-radius: 10px;
    margin: 10px;
    padding: 2px;
    cursor: default;
}

.mode-block {
    display: flex;
    margin: 2px;
}

.mode-easy, 
.mode-medium,
.mode-hard {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 50px;
    min-height: 20px;
    background-color: $color-field-filler;
    border: 2px solid $color-field-boarder;
    border-radius: 5px;
    margin: 1px;
    padding: 5px;
}

.mode-active {
    background-color: $color-active;
    border: 2px solid $color-cell-boarder-light;
}

.mine-set-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2px;
}

.mine-set-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-field-filler;
    border: 2px solid $color-field-boarder;
    border-radius: 5px;
    min-height: 16px;
    margin: 2px;
}

.mine-set-input {
    appearance: none;
    align-items: center;
    background-color: $color-field-boarder;
    border-radius: 5px;
    height: 6px;
    margin: 8px 4px 8px 4px;
}

.mine-set-input::-webkit-slider-thumb {
    appearance: none;
    width: 5px;
    height: 14px;
    background: $color-slider;
    border-radius: 2px;
}

.new-game-block,
.records-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-field-filler;
    border: 2px solid $color-field-boarder;
    border-radius: 5px;
    min-height: 16px;
    width: 90%;
    margin: 2px;
}

.records-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    min-height: 16px;
    width: 90%;
    margin: 2px;
}

.records-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.record {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-field-filler;
    border: 2px solid $color-field-boarder;
    border-radius: 5px;
    min-height: 16px;
    min-width: 90%;
    margin: 2px;
}
