html {
  font-size: 10px;
  font-weight: 700;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #e0e0e0;
  border: 3px solid #b0ccb0;
  border-radius: 10px;
  margin: 10px;
  padding: 4px;
}

.cell-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 1.6rem;
  min-width: 30px;
  min-height: 30px;
  background-color: #bac7ba;
  border: 1px solid #e2e2e2;
  color: #bac7ba;
  border-radius: 5px;
  margin: 0;
  padding: 5px;
  cursor: default;
}

.cell:hover {
  background-color: rgba(186, 199, 186, 0.3764705882);
  border: 1px solid #ebebeb;
}

.empty {
  background-color: #c5c5c5;
}

.cell-1 {
  background-color: #ebebeb !important;
  color: #0000bb;
}

.cell-2 {
  background-color: #ebebeb !important;
  color: #00bb00;
}

.cell-3 {
  background-color: #ebebeb !important;
  color: #bb0000;
}

.cell-4 {
  background-color: #ebebeb !important;
  color: #00bbbb;
}

.cell-5 {
  background-color: #ebebeb !important;
  color: #bbbb00;
}

.cell-6 {
  background-color: #ebebeb !important;
  color: #bb00bb;
}

.cell-7 {
  background-color: #ebebeb !important;
  color: #005050;
}

.cell-8 {
  background-color: #ebebeb !important;
  color: #5000bb;
}

.mine {
  background-color: #bd8989 !important;
  background-image: url("../../assets/cell/mine-icon-64x64.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  content-visibility: hidden;
}

.flag {
  background-image: url("../../assets/cell/flag-icon-64x64.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  content-visibility: hidden;
}

.question {
  background-image: url("../../assets/cell/question-icon-64x64.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  content-visibility: hidden;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #e0e0e0;
  border: 3px solid #b0ccb0;
  border-radius: 10px;
  margin: 10px;
  padding: 2px;
  cursor: default;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.mine-block,
.flag-block,
.step-block,
.time-block {
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.mine-label,
.mine-value,
.flag-label,
.flag-value,
.step-label,
.step-value,
.time-label,
.time-value {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 20px;
  background-color: #e0e0e0;
  border: 2px solid #b0ccb0;
  border-radius: 5px;
  margin: 1px;
  padding: 5px;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  min-width: 40px;
  min-height: 40px;
  background-color: #e0e0e0;
  border: 2px solid #b0ccb0;
  border-radius: 5px;
  margin: 5px;
  width: 95%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #e0e0e0;
  border: 3px solid #b0ccb0;
  border-radius: 10px;
  margin: 10px;
  padding: 2px;
  cursor: default;
}

.mode-block {
  display: flex;
  margin: 2px;
}

.mode-easy,
.mode-medium,
.mode-hard {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 50px;
  min-height: 20px;
  background-color: #e0e0e0;
  border: 2px solid #b0ccb0;
  border-radius: 5px;
  margin: 1px;
  padding: 5px;
}

.mode-active {
  background-color: rgba(199, 145, 29, 0.8274509804);
  border: 2px solid #ebebeb;
}

.mine-set-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2px;
}

.mine-set-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  border: 2px solid #b0ccb0;
  border-radius: 5px;
  min-height: 16px;
  margin: 2px;
}

.mine-set-input {
  appearance: none;
  align-items: center;
  background-color: #b0ccb0;
  border-radius: 5px;
  height: 6px;
  margin: 8px 4px 8px 4px;
}

.mine-set-input::-webkit-slider-thumb {
  appearance: none;
  width: 5px;
  height: 14px;
  background: grey;
  border-radius: 2px;
}

.new-game-block,
.records-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  border: 2px solid #b0ccb0;
  border-radius: 5px;
  min-height: 16px;
  width: 90%;
  margin: 2px;
}

/*# sourceMappingURL=style.css.map */
