$color-active: #c7db7dd3;

$color-field-boarder: #ccc9ba;
$color-field-filler: #f7f1ea;

$color-cell-boarder: #c2bbac;
$color-cell-boarder-light: #e6e1d6;
$color-cell-filler: #dfebaf;
$color-cell-filler-light: #f1ffbf;

$color-cell-open: #ebebeb;

$color-cell-empty: #dadada;
$color-cell-1: #0000bb;
$color-cell-2: #00bb00;
$color-cell-3: #bb0000;
$color-cell-4: #00bbbb;
$color-cell-5: #bbbb00;
$color-cell-6: #bb00bb;
$color-cell-7: #005050;
$color-cell-8: #5000bb;
$color-cell-mine: #daaaaa;

$color-slider: grey;

$desktop-width: 1280px;
$tablet-width: 768px;
$less-tablet-width: 767px;
$mobile-XL-width: 500px;
