$color-cell-1: #0000bb;
$color-cell-2: #00bb00;
$color-cell-3: #bb0000;
$color-cell-4: #00bbbb;
$color-cell-5: #bbbb00;
$color-cell-6: #bb00bb;
$color-cell-7: #005050;
$color-cell-8: #5000bb;

$tablet-width: 768px;
