$color-primary: #664422;

$color-field-boarder: #b0ccb0;
$color-field-filler: #e0e0e0;

$color-cell-boarder: #e2e2e2;
$color-cell-boarder-light: #ebebeb;
$color-cell-filler: #bac7ba;
$color-cell-filler-light: #bac7ba60;

$color-cell-empty: #c5c5c5;
$color-cell-1: #0000bb;
$color-cell-2: #00bb00;
$color-cell-3: #bb0000;
$color-cell-4: #00bbbb;
$color-cell-5: #bbbb00;
$color-cell-6: #bb00bb;
$color-cell-7: #005050;
$color-cell-8: #5000bb;
$color-cell-mine: #500000;
