$color-body: #333333;
$color-body-text: #cccccc;
$color-active: #334552;

$color-field-boarder: #1b1d1b;
$color-field-filler: #353332;

$color-cell-boarder: #252421;
$color-cell-boarder-light: #3f443f;
$color-cell-filler: #608299;
$color-cell-filler-light: #7b96a8;

$color-slider-filler: #4c7da0;

$color-cell-open: #dddddd;
$color-cell-empty: #5a5c70;
$color-cell-mine: #864646;
