$color-body: #ffffff;
$color-body-text: #000000;
$color-active: #c7db7dd3;

$color-field-boarder: #ccc9ba;
$color-field-filler: #f7f1ea;

$color-cell-boarder: #c2bbac;
$color-cell-boarder-light: #e6e1d6;
$color-cell-filler: #dfebaf;
$color-cell-filler-light: #f1ffbf;

$color-slider-filler: #8ca046;

$color-cell-open: #ebebeb;
$color-cell-empty: #dadada;
$color-cell-mine: #daaaaa;
